/*MY COLORS: #02e97e - green top*/

@font-face{
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
    font-family: 'Roboto', sans-serif;
}

/*RESET DA PÁGINA ----------------------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 14px;
    list-style: none;
}

/*HEADER -------------------------------------------------------------------------------------*/
header{
    width: 100%;
    z-index: 2;
    position: fixed;
}

head link icon{
    border-radius: 5px;
}

.header{
    background-color: #437437e1;
    height: 60px;
}

.header .logo img{
    width: 50px;
    height: 50px;
    /*transform: rotate(10deg);*/
}

.header-container{/*do header*/
    
    height: 100%;
    margin: 0 4.5%;
    padding: 0 3%;
    display: grid;
    grid-template-areas: /*Grid Areas*/
        "logo ... nav";
    grid-template-columns: auto 1fr auto;
    align-content: center;
}

.logo img{
    width: 80px;
    height: 80px;
    border-radius: 8px;
    grid-area: logo;
    transition: all 0.1s;
}

.nav-bar{
    grid-area: nav;
    display: grid;
    align-content: center;
    font-size: 16px;
}

.nav-bar ul{
    display: grid;
    grid-auto-flow: column;
    text-transform: uppercase;
}

.nav-bar a {
    padding: 5px;
    font-size: 1em;
    font-family: "Roboto";
    color: #ffffff;
    transition: all 0.125s;/*velocidade de transição ajuda a suavizar o HOVER*/
}

/*Hover da nav bar ^^ (Achei o máximo fazer esse efeito)*/
.nav-bar a:hover {
    background-color: #1d3617;
    border-radius: 14px;
}

.ghost{/*sua função é não permitir conteúdo por trás do header*/
    width: 100%;
    height: 60px;
    background-color: #437437e1;
}

.presentation{
    height: 350px;
    width: 100%;
    /*background-image: url("/public/assets/images/kleber-marco-zero.jpg");*/
    
}

.presentation-img{
    position: absolute;
    z-index: 0;
}

.presentation-text-box{
    margin-top: 100px;
    padding: 10px 100px;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Roboto";
}

.presentation-title{
    font-size: 80px; 
}

.presentation-subtitle{
    font-size: 16px;
}

/*CONTENT ------------------------------------------------------------------------------------*/
.body-container{
    margin: 0 7.5%;
    padding: 0;
    font-size: 10px;
}

.body-container section{/*Todas as sections*/
    height: 100vh;
    padding: 10px;
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: "Roboto";
    font-size: 2em;/*Unidades "em" pegam propriedades do elemento pai neste caso: 2em == 40px*/
    /*color: #209ef8;*/
}


.body-container section:nth-child(odd){/*modifica filhos ímpares da section*/
    height: 100vh;
    background-color: #d8d8d82d;
}

.body-container section:nth-child(even){/*modifica filhos pares da section*/
    height: 100vh;
    background-color: #cacaca5c;
}


.titleH1{
    margin: 10px 0;
    padding: 10px 0;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 250%;
}


/*SECTIONS ----*/
/*SOBRE------------------------------------------*/
#sobre{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sobre .text-box{
    padding: 75px 20px 70px 20px;
    margin-right: 20px;
    background-color: rgb(238, 238, 238);
    border-radius: 8px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.perfil-image{
    height: 338px;
    width: 450px;
    margin: 20px;
}

.download-cv{
    margin: 20px 0;
    padding: 2%;
    border-style: none;
    border-radius: 8px;
    color: #ffffff;
    background-color: #437437e1;
    
}
.download-cv:hover{
    background-color: #1d3617;
}

/*SKILL------------------------------------------*/

#skill{
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-presentation{
    background-color: rgb(0, 243, 162);
    
}

.grid-skills{
    display: grid;

}


.img-skill{
    width: 100px;
    height: 60px;
}
/*WORK EXPERIENCE------------------------------------------*/

.job-box{
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-resume{
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    flex-direction: column;
}

.job-time{
    font-size: x-large;
    color: #437437e1;
}

.job-area{
    /*Nada definido*/
}

.job-workspace, .job-function{
    font-weight: bold;
}

.job-description{
    box-sizing: border-box;
    margin: 1%;
    padding: 2%;
    background-color: rosybrown;
}

.linha-vertical {
    margin: 5px;
    height: 120px;
    border-left: 2px solid;
}
/*EDUCATION------------------------------------------*/

/*WORKS------------------------------------------*/

/*CONTACT------------------------------------------*/


/*FOOTER ---------------------------------------------------------------------*/
footer{
    height: 100px;
    background-color: #e7e7e7;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
}

footer .copyright{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social-media{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social-media ul{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
}

footer .social-media img{
    width: 30px;
    height: 30px;
}

/*HOVER é toda alteração quando passa o mouse por cima do elemento*/
footer .social-media img:hover{
    /*width: 35px;
    height: 35px;*/
    transform: scale(1.5);/*Aumenta a escala do elemento sem deslocar a posição dos outros*/
    transition: all 0.15s;
}